<<<<<<< HEAD
=======
<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
>>>>>>> e5489d4e9c045529e13dbf2a9626d552b622e4d8
<ul>
<%= @user.first_name%>
<%= @user.last_name%> <br>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
</ul>	