<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
<ul>
    <li> <%= @user.first_name%>
         <%= @user.last_name%> </li>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
</ul>	
<ul>
	<li><a href= <% "#{places_show}" %> ></li>
</ul>

