<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
<ul>
<%= @user.first_name%>
<%= @user.last_name%> <br>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
</ul>	

<ul>
	<li><a href=""></a></li>
</ul>