<%= image_tag @user.gravatar_url %> 
<h2>user id</h2><%= @user.id%> <br>
<%= @user.first_name%>
<%= @user.last_name%> <br>
<ul>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
</ul>

