<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.email %><br>
<%= @user.current_city %><br>
<%= @user.created_at %><br>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.title %>
        <%= post.body %>
    </li>
  <% end %>
</ul>
<br>
 
