<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
<%= link_to "Edit", controller: "users", action: "edit", id: @user.id %> <br>
<ul>
    <div> <%= @user.first_name%>
         <%= @user.last_name%> </div>	
	<div>Contact: <%= @user.email%> </div>
	<div> Current City:	 <%= @user.current_city%> </div>
	<% join_date = "%m/%d/%Y"%>
	<div> <%= @user.created_at.strftime("Member since #{join_date}") %> </div>
</ul>	
<ul>
	<h2> Your posts </h2>

	<% @user.posts.each do |p| %>
		<span class="post-title" style="font-size: 25px"><%= link_to p.title, "/posts/#{p.id}" %> </span> - 
		<span style="font-size: 18px"> <%= link_to p.place.name, "/places/#{p.place_id}" %> </span> <br>
	<% end %>	
</ul>

