<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
<ul>
    <li> <%= @user.first_name%>
         <%= @user.last_name%> </li>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
</ul>	
<ul>
	<% current_user.posts.each do |p| %>

		<%= link_to p.title, "/posts/#{p.id}" %> - 
		<%= link_to p.place.name, "/places/#{p.place_id}" %><br>

	<% end %>	

</ul>

