<%= render partial: "navbar" %>
<%= image_tag @user.gravatar_url %>
<%= link_to "Edit", controller: "users", action: "edit", id: @user.id %> <br>
<ul>
    <li> <%= @user.first_name%>
         <%= @user.last_name%> </li>	
	<li> <%= @user.email%> </li>
	<li> <%= @user.current_city%> </li>
	<% join_date = "%m/%d/%Y"%>
	<li> <%= @user.created_at.strftime("Member since #{join_date}") %> </li>
</ul>	
<ul>
	<h2> Your posts </h2>
	<% @user.posts.each do |post|%>
		<li> <%= post.title %> </li>
		<% place = Place.find(post.place_id) %>
		<%= place.name %>
	<% end %>
</ul>

