<!-- <div class="container-fluid"> -->
	<div class="video-wrapper">
		<video id="video" src="https://a0.muscache.com/airbnb/static/SanFrancisco-P1-1.mp4" autoplay preload="auto" loop="loop">
		</video>
		<h1 id="appLogo">Vagabond</h1>
		<p id="soundBite">From Home To Roam</p>
		<button id="modal-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Sign Up/Sign In
		</button>
	</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <div id="signDiv" style="display: block;">
			<%= form_for @user do |f| %>
			  <div class="form-group">
				<%= f.label :first_name, "First Name" %>
			    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
			  </div>
			  <div class="form-group">
				<%= f.label :last_name, "Last Name" %>
			    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
			  </div>
			  <div class="form-group">
				<%= f.label :email, "Email" %>
			    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
			  </div>
			  <div class="form-group">
				<%= f.label :password, "Password" %>
			    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
			  </div>
			  <div class="form-group">
				<%= f.label :password_confirmation, "Confirm Password" %>
			    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
			  </div>
			  <div class="form-group">
				<%= f.label :current_city, "Current City" %>
			    <%= f.text_field :current_city, class: "form-control", placeholder: "Current City" %>
			  </div>
			  <div class="form-group">
			  <%= f.submit "Register", class: "form-control" %>
			  </div>
			<% end %>
		  	<button type="button" id="formToggle" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="vagabond.memberSignIn()">
	  		Member Sign In
			</button>
	  	</div>
	  	<div id="logDiv" style="display: none;">
				<%= form_for @user, url: "/sessions", method: "post" do |f| %>
				  <div class="field">
					<%= f.label :email, "Email" %>
				    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
				  </div>
				  <div class="field">
					<%= f.label :password, "Password" %>
				    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
				  </div>
				  <div>
				  <%= f.submit "Sign In", class: "form-control" %>
				  </div>
				  <% end %>
			<button type="button" id="formToggle2" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="vagabond.memberRegister()">
	  		Register
			</button>
	  	</div>
      </div>
    </div>
  </div>
</div>
