<%= render partial: "navbar" %>
 
<h1> <%= @place.name %> </h1>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<body>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</body>

<script type="text/javascript">
	$(function(){
		var mapProp = {
	    center:new google.maps.LatLng(<%= @lat_long %>),
	    zoom:11,
	    mapTypeId:google.maps.MapTypeId.ROADMAP
	  };
	  	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	})
</script>	
	<%= form_for @post do |f| %>
		<div>
			<%= f.text_field :title, placeholder: "Title goes here" %>
		</div>
		<div>
			<%= f.text_area :body, placeholder: "Body goes here" %>
		</div>
		<div style="display: none">
			<%= f.text_field :place_id, value: "#{@place.id}" %>
		</div>
		<%= f.submit "Submit New Post" %>
	<% end %>
<ul>
	<%@place.posts.each do |post| %>
		<h4> <%= post.title %> </h3>
			<p> <%= post.body %> <p>
			<!-- if the current user wrote this post -->
			<% if post.user_id == current_user.id %>
			<!-- button that will let user edit their post -->
			<!-- button that will let user delete their post -->
			<%end %>
	<% end %>
</ul>
